<div class="header">
  <span>Main Settings</span>
</div>
<div class="section">
  <app-label-block>
    <div header>Play TTS locally</div>
    <div sub-text>These show up in the history tab.</div>
    <div class="action-row">
      <app-input type="text" [control]="ttsControl" placeholder="Enter something to say."/>
      <app-button (click)="speak()" [disabled]="isDisabled">Send</app-button>
    </div>
  </app-label-block>

  <hr/>
  <app-device></app-device>
  <hr/>

  <div class="header">
    <span>TTS Settings</span>
  </div>

  <app-label-block>
    <div header>Chaos Mode</div>
    <div sub-text>If enabled, TTS request will interrupt each other.</div>
    <app-toggle class="right" [control]="chaosModeControl"/>
  </app-label-block>

  <app-label-block>
    <div header>Select TTS service</div>
    <div sub-text>Decide which TTS service to use.</div>
    <app-selector
      [options]="ttsOptions"
      [control]="selectedTts"
      placeholder="Select a service."
    />
  </app-label-block>

  <hr/>

  @switch (selectedTts.value) {
    @case ('streamlabs') {
      <app-streamlabs/>
    }
    @case ('amazon-polly') {
      <app-amazon-polly/>
    }
    @case ('tiktok') {
      <app-tiktok/>
    }
    @case ('tts-monster') {
      <app-tts-monster/>
    }
    @case ('eleven-labs') {
      <app-eleven-labs/>
    }
    @case ('azure') {
      <app-azure-tts/>
    }
  }
</div>


