<div class="header">
  <span>Advanced Settings</span>
</div>

<app-label-block>
  <div header>Random Message Chance</div>
  <div sub-text>The chance that a message from chat will be read.</div>
  <div sub-text>If GPT is enabled, it will hand the message to your pet.</div>
  <app-input
    placeholder="Enter a number between 0 - 100"
    type="number"
    [control]="settings.controls.randomChance"
  />
</app-label-block>

<app-label-block>
  <div header>Max character limit filter.</div>
  <div sub-text>This filters out random messages that surpass this character limit.</div>
  <div sub-text class="yellow">When set to 0, this setting is disabled.</div>
  <app-input
    placeholder="100"
    type="number"
    [control]="settings.controls.maxCharacterLimit"
  />
</app-label-block>